/debug/
/release/
/Debug/
/Release/
/report/
/build/
/*/*/bin/
/*/bin/
/bin/
/z-docs/
/z-old/
*.doc
*.pdf
*.tst
*.exe
*.dll
*.lib
*.pdb
*.obj
*.ilk
*.exp
*.idb
*.suo
*.user
*.ipch
*.sdf
*.db
*.opendb
prompt.txt
test.tst.tokens